{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse - Diana Dawson Decor{% endblock %}

{% block content %}
    <a href="{{ path('account_address') }}">
        <img src="{{ asset('assets/icons/arrow-left-square-fill.svg') }}" alt="Retour">
    </a>
    <h1>Mon adresse</h1>
    <br>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">{{ form_row(form.name) }}</div>
            <div class="col-md-6">{{ form_row(form.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form.lastname) }}</div>
            <div class="col-md-6">{{ form_row(form.company) }}</div>
            <div class="col-md-6">{{ form_row(form.address) }}</div>
            <div class="col-md-6">{{ form_row(form.zip) }}</div>
            <div class="col-md-6">{{ form_row(form.city) }}</div>
            <div class="col-md-6">{{ form_row(form.country) }}</div>
            <div class="col-md-6">{{ form_row(form.phone) }}</div>
        </div>
    {{ form_end(form) }}
{% endblock %}