{% extends 'base.html.twig' %}

{% block title %}{{ inspiration.title }} - Dydream Decor{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/inspiration_images/{{ inspiration.image }}" alt="{{ inspiration.alt }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <div class="product text-center">
                <h5 class="product-title">{{ inspiration.title }}</h5>
                <h5 class="product-title">{{ inspiration.subtitle }}</h5>
                <hr>
                <p class="product-description text-align-justify-center">{{ inspiration.description }}</p>
                <hr>
                <a href="{{ path('contact_new') }}" class="btn btn-secondary">Demander un devis</a>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <h4>Articles utilisés dans cette inspiration</h4>
    <div class="row product-container">
        {% for item in inspiration.items %}
            <div class="col-md-2">
                {% include 'item/one_in_index.html.twig' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
